.withSideBarWrapper {
  min-height: 100vh;
  display: flex;
  background-color: #fffeff;

  &-navBar {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    background-color: #f0f2f6;
  }

  &-shortInfo {
    width: 270px;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    padding-top: 20px;
    border-right: 1px solid #f0f2f6;

    &-workspaceInfo {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &-avatar {
        position: relative;
        width: 55px;
        height: 55px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f0f2f6;
        border-radius: 12px;

        &-indicator {
          position: absolute;
          left: 0;
          width: 2px;
          height: 20px;
          background-color: #5180a8;
        }

        & img {
          width: 45px;
          height: 45px;
          object-fit: cover;
          border-radius: 12px;
        }
      }

      &-selectWorkBtn {
        display: flex;
        align-items: center;
        gap: 4px;
        cursor: pointer;

        & span {
          font-size: 14px;
        }

        & svg {
          width: 18px;
          color: #343436;
        }

        & .selectWorkQuestionIcon {
          width: 16px;
          color: #2f84fb;
        }
      }
    }

    &-workspacesList {
      display: none;
      flex-direction: column;
      padding-top: 20px;
      transition: 300ms;

      &.visible {
        display: flex;
        transition: 300ms;
      }

      &-workspace {
        display: flex;
        justify-content: space-between;
        padding: 12px;
        border-bottom: 1px solid #f0f2f6;
        cursor: pointer;
        transition: 300ms;

        &:hover {
          background-color: #2f84fb;

          & .withSideBarWrapper-shortInfo-workspacesList-workspace {

            &-info {
              color: #fffeff;
            }

            &-indicator {
              & svg {
                color: #fffeff;
              }
            }
          }
        }

        &.activeWork {
          cursor: default;
        }

        &.firstWork {
          border-top-left-radius: 15px;
          border-top-right-radius: 15px;
        }

        &-avatar {
          position: relative;
          width: 35px;
          height: 35px;
          display: flex;
          align-items: center;
          justify-content: center;
          align-items: center;
          margin-right: 12px;
          background-color: #f0f2f6;
          border-radius: 12px;

          & img {
            width: 35px;
            height: 35px;
            object-fit: cover;
            border-radius: 12px;
          }
        }

        &-info {
          width: 100%;
          font-size: 14px;
          font-weight: 500;
          color: #08070c;
          transition: 300ms;
        }

        &-indicator {
          display: flex;
          align-items: center;

          & svg {
            color: #2f84fb;
            transition: 300ms;
          }
        }
      }

      &-addWorkspace {
        width: 100%;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        transition: 300ms;
        cursor: pointer;

        &:hover {
          background-color:  #765eef;

          & span {
            color: #fffeff;
          }

          & .withSideBarWrapper-shortInfo-workspacesList-addWorkspace-icon {
            background-color: #fffeff;

            & svg {
              color: #765eef;
            }
          }
        }

        &-icon {
          width: 14px;
          height: 14px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #765eef;
          border-radius: 50%;
          transition: 300ms;

          & svg {
            width: 18px;
            height: 18px;
            color: #fffeff;
          }
        }

        & span {
          font-size: 12px;
          font-weight: 500;
          transition: 300ms;
        }
      }
    }

    &-pagesWidget {
      padding-top: 20px;
    }
  }

  &-content {
    width: 100%;
    height: 100vh;
  }

  // content styles
}